@config "../tailwind.config.js";
@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

html {
  scrollbar-gutter: stable;
}

/* Font Definitions */
@font-face {
  font-family: 'ChangaOne';
  src:
    url('/fonts/ChangaOne-Regular.woff2') format('woff2'),
    url('/fonts/ChangaOne-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src:
    url('/fonts/Jost-Medium.woff2') format('woff2'),
    url('/fonts/Jost-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src:
    url('/fonts/Rubik-Regular.woff2') format('woff2'),
    url('/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-*: initial;
  --font-sans: Rubik, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --font-heading: Jost, Georgia, 'Times New Roman', Times, serif;
  --font-other: Jost, Georgia, 'Times New Roman', Times, serif;

  --color-brand: #ef2917;
  --color-red: #ef4444;
  --color-info: #2364aa;

  /* Flowbite Color Scheme
  Adjust this to adjust flowbite color scheme, mostly for buttons
  Remove color prop in button to use this colors instead */
  --color-primary-500: oklch(0.35 0 0);
  --color-primary-600: oklch(0.3 0 0);
  --color-primary-700: oklch(0.25 0 0);
  --color-primary-800: oklch(0.2 0 0);
}

/* Theme Variables */
:root {
  --lighter: #888888;
  --primary: oklch(0.769 0.188 70.08);
  --content: #251605;
  --neutral: #fff8e7;
  --admin: #fcfffc;

  --card: oklch(1 0 0);

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #f0f0f0;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.62 0.19 260);
  --chart-3: oklch(0.55 0.22 263);
  --chart-4: oklch(0.49 0.22 264);
  --chart-5: oklch(0.42 0.18 266);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --radius: 0.125rem;
  --radius-sm: calc(var(--radius) - 1px);
  --radius-md: calc(var(--radius));
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --spacing: 0.25rem;
  --tracking-normal: 0em;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --lighter: oklch(0.78 0.015 270);
  --content: oklch(0.88 0.03 70);
  --neutral: oklch(0.25 0.01 270);
  --admin: oklch(0.2 0.02 240);

  --card: oklch(0.32 0.015 270);
  --background: oklch(0.25 0.02 270);
  --foreground: oklch(0.95 0 0);
  --card-foreground: oklch(0.93 0 0);
  --color-layout: oklch(0.2 0.02 270);
  --border: oklch(0.3 0 0);
  --border: oklch(0.45 0 0);
  --ring: oklch(0.7 0.25 30 / 0.4);
  --color-info: #64b5f6;
  --color-red: #ff7b7b;
  --destructive: oklch(0.75 0.25 27);
  --sidebar: oklch(0.28 0.03 270);
  --sidebar-foreground: oklch(0.95 0 0);
  --sidebar-primary: oklch(0.65 0.2 70);
  --sidebar-primary-foreground: oklch(0.95 0 0);
  --sidebar-accent: oklch(0.27 0 0);
  --sidebar-accent-foreground: oklch(0.95 0 0);
  --sidebar-border: oklch(0.28 0 0);
  --sidebar-ring: oklch(0.44 0 0);
  --chart-1: oklch(0.75 0.15 252);
  --chart-2: oklch(0.7 0.18 260);
  --chart-3: oklch(0.68 0.2 263);
  --chart-4: oklch(0.5 0.22 264);
  --chart-5: oklch(0.4 0.18 266);
  --muted-foreground: oklch(0.75 0 0);
}

@theme inline {
  --color-lighter: var(--lighter);
  --color-content: var(--content);
  --color-neutral: var(--neutral);
  --color-admin: var(--admin);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.product-gradient {
  @apply bg-gradient-to-b from-amber-50 to-yellow-100;
}

.testimonial-gradient {
  @apply bg-gradient-to-br from-orange-100 to-amber-200;
}

.dark .product-gradient {
  @apply bg-gradient-to-b from-[#1C1A16] to-[#32241A];
}

.dark .testimonial-gradient {
  @apply bg-gradient-to-b from-[#1C1A16] to-[#32241A];
}

.table-header {
  @apply bg-gray-700 text-white dark:bg-zinc-900;
}

/* Base Styles */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
