@font-face {
  font-family: Bebas;
  src: url("../src/assets/fonts/Jost-Semibold.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter_24pt-Regular.ttf");
}

@font-face {
  font-family: Rubik;
  src: url("../src/assets/fonts/Rubik-Regular.ttf");
}

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --font-*: initial;
  --font-sans: Rubik, "serif";
  --font-heading: Bebas, "serif";
  --color-primary: #d47849;
  --color-content: #4b322a;
  --color-red: #ef4444;
  --color-secondary: #b88a2c;
  --color-admin: #121b2c;
  --color-neutral: #f6f3e7;
  --color-background: #f5f5eb;
}

@utility flowbite {
  color: --color-admin;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
